<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/avaliar.css">
    <title>Document</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <h1>Produtos</h1>
        <a href="homePage.html" target="_self"><i class="fa-solid fa-x botaoVoltar"></i></a>
    </header>
    <main>
        <div id="comentarios">
            <div class="cardContato">
                <div class="cardCabecalho">
                    <img src="../../public/img/Foto_Perfil.png" alt="FotoAtualizacao" class="fotoVendedor">
                    <div class="divTextos">
                        <p class="nomeVendedor">Maria Andrade</p>
                        <select id="nota" name="fruits">
                            <option value="5">nota 5</option>
                            <option value="4">nota 4</option>
                             <option value="3">nota 3</option>
                              <option value="2">nota 2</option>
                            <option value="1">nota 1</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <input type="text" class="texto" placeholder="Deixe um comentário"></input>
        </div>
        <a href="avaliarFeedback.html" target="_self" id="botaoAvaliar">Enviar</a>
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>