<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/encomendas_recebidas_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encomendas Recebidas</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="clima.html" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-cloud botaoClima"></i></a>
            <a href="sortear.html" target="_self" rel="noopener noreferrer"><img src="../../public/img/Roleta.png" alt="Roleta"></a>
            <a href="ranking.html" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-ranking-star botaoRanking"></i></a>
        </nav>
    </header>
    <main>
        <div class="postCabecalho">
            <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer" class="titulo">Nome do Produto</a>
        </div>
            <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer" class="titulo"><img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem do Poste"></a>
        <div class="postRodape">
            <p><span class="chave">Pedido por:</span> <a href="perfil_user.html">Fulano de Tal <i class="fa-solid fa-comment botaoChat"></i></a></p>
            <p><span class="chave">Quantidade:</span> 7 UN</p>
            <p><span class="chave">Encomendo em:</span> 19/07/2025</p>
            <p><span class="chave">Para o dia:</span> 24/07/2025</p>
        </div>
        <div class="postCabecalho">
            <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer" class="titulo">Nome do Produto</a>
        </div>
            <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer" class="titulo"><img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem do Poste"></a>
        <div class="postRodape">
            <p><span class="chave">Pedido por:</span> <a href="">Fulano de Tal <i class="fa-solid fa-comment botaoChat"></i></a></p>
            <p><span class="chave">Quantidade:</span> 7 UN</p>
            <p><span class="chave">Encomendo em:</span> 19/07/2025</p>
            <p><span class="chave">Para o dia:</span> 24/07/2025</p>
        </div>
        <div class="postCabecalho">
            <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer" class="titulo">Nome do Produto</a>
        </div>
            <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer" class="titulo"><img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem do Poste"></a>
        <div class="postRodape">
            <p><span class="chave">Pedido por:</span> <a href="">Fulano de Tal <i class="fa-solid fa-comment botaoChat"></i></a></p>
            <p><span class="chave">Quantidade:</span> 7 UN</p>
            <p><span class="chave">Encomendo em:</span> 19/07/2025</p>
            <p><span class="chave">Para o dia:</span> 24/07/2025</p>
        </div>
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>