<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/noticias_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="http://" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-cloud botaoClima"></i></a>
            <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/Roleta.png" alt="Roleta"></a>
            <a href="ranking.html" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-ranking-star botaoRanking"></i></a>
        </nav>
        
    </header>
    <main>
        <h1 id="tituloPrincipal">Mural de Notícias UNIRIO</h1>
        <div id="containerNoticias">
            <h2 class="tituloNoticia">Bandeijão da Semana</h2>
            <img src="../../public/img/cardapio-bandejao.jpg" alt="Foto da Noticia" class="fotoNoticia">
        </div>
        <div id="containerNoticias">
            <h2 class="tituloNoticia">Reitoria anuncia ponto facultativo</h2>
            <img src="https://images.pexels.com/photos/14122742/pexels-photo-14122742.jpeg" alt="Foto da Noticia" class="fotoNoticia">
            <p class="corpoNoticia">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lobortis velit. Donec sed posuere neque, eu lacinia quam. Integer luctus, neque eget efficitur ultrices, nisi est maximus erat, ut pulvinar nisl ante ut elit. Nulla neque tellus, vestibulum nec velit sed, porttitor iaculis felis. Etiam quis dapibus leo. Ut pulvinar condimentum ex, nec lacinia lacus finibus vitae. Sed elementum massa vitae dolor viverra ornare. Phasellus lobortis, arcu a suscipit luctus, mauris purus rhoncus tortor, sed gravida mi nibh sit amet diam.</p>
        </div>
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>