<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/produtoSelecionado_style.css">
    <title>Document</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <h1>Produtos</h1>
        <a href="homePage.html" target="_self"><i class="fa-solid fa-x botaoVoltar"></i></a>
    </header>
    <main>
        <div id="subCabecalho">
            <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Produto">
            <a href="compartilhar.html" target="_blank"><i class="fa-solid fa-share-nodes"></i></a>
        </div>
        <p class="nomeProduto">Toucas para gatinhos</p>
        <div id="subCorpo">
            <a href="http://" target="_self"><img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg" alt="Vendedor">CrochêMia</a>
            <nav>
                <a href="ChatVendedor" target="_self"><i class="fa-solid fa-box-open"></i></i></a>
                <a href="chatCrocheMia.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
            </nav>
            
            <button type="button" class="botaoFavoritar"><i class="fa-regular fa-heart"></i></button>
            <p id="pagamento">R$ 24,00<i class="fa-solid fa-money-bill formaPagamento"></i></p>
        </div>
        <p id="descricao">
            Toucas para seu gatinho feitas a mão com todo amor e carinho para o seu lindinho &lt;3
        </p>
        <a href="verAvaliacoes.html" target="_self" id="verAvaliações">Ver avaliações</a>
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>