<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/quemSomos_style.css">
    <title>Quem Somos</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="clima.html" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-cloud botaoClima"></i></a>
            <a href="sortear.html" target="_self" rel="noopener noreferrer"><img src="../../public/img/Roleta.png" alt="Roleta"></a>
            <a href="ranking.html" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-ranking-star botaoRanking"></i></a>
        </nav>
    </header>
    <main>
        <div id="apresentacao">
            <h2 id="titulo">Quem Somos?</h2>
            <img src="../../public/img/Logo.png" alt="Logo" id="logoPage">
            <h3 id="subTitulo">O Projeto</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lobortis velit. Donec sed posuere neque, eu lacinia quam. Integer luctus, neque eget efficitur ultrices, nisi est maximus erat, ut pulvinar nisl ante ut elit. Nulla neque tellus, vestibulum nec velit sed, porttitor iaculis felis. Etiam quis dapibus leo. Ut pulvinar condimentum ex, nec lacinia lacus finibus vitae. Sed elementum massa vitae dolor viverra ornare. Phasellus lobortis, arcu a suscipit luctus, mauris purus rhoncus tortor, sed gravida mi nibh sit amet diam.</p>
        </div>
        <div id="equipe">
            <h3 id="subTitulo">Conheça Nossa Equipe</h3>
            <div class="clusterMembro">
                <img src="../../public/img/perfil_dyego.jpg" alt="Foto Dyego">
                <p class="nome">Dyego Anjos</p>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lobortis velit. Donec sed posuere neque, eu lacinia quam. Integer luctus, neque eget efficitur ultrices, nisi est maximus erat, ut pulvinar nisl ante ut elit.</p>
            </div>
            <div class="clusterMembro">
                <img src="../../public/img/Foto_Perfil.png" alt="Foto Gabi">
                <p class="nome">Gabi Cacho</p>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lobortis velit. Donec sed posuere neque, eu lacinia quam. Integer luctus, neque eget efficitur ultrices, nisi est maximus erat, ut pulvinar nisl ante ut elit.</p>
            </div>
            <div class="clusterMembro">
                <img src="../../public/img/Foto_Perfil.png" alt="Foto Gael">
                <p class="nome">Gael Fernandes</p>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lobortis velit. Donec sed posuere neque, eu lacinia quam. Integer luctus, neque eget efficitur ultrices, nisi est maximus erat, ut pulvinar nisl ante ut elit.</p>
            </div>
            <div class="clusterMembro">
                <img src="../../public/img/Foto_Perfil.png" alt="Foto Thais">
                <p class="nome">Thais Leandro</p>
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lobortis velit. Donec sed posuere neque, eu lacinia quam. Integer luctus, neque eget efficitur ultrices, nisi est maximus erat, ut pulvinar nisl ante ut elit.</p>
            </div>
        </div>
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>