<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/verAvaliacoes_style.css">
    <title>Document</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <h1>Produtos</h1>
        <a href="homePage.html" target="_self"><i class="fa-solid fa-x botaoVoltar"></i></a>
    </header>
    <main>
        <div id="nota">
            <p id="notaMedia">4,5</p>
            <nav id="notas">
                <p id="nota1"><i class="fa-solid fa-star"></i>: 1</p>
                <p id="nota2"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>: 0</p>
                <p id="nota3"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>: 0</p>
                <p id="nota4"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>: 3</p>
                <p id="nota5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>: 2</p>
            </nav>
        </div>
        <div id="comentarios">
            <div class="cardContato">
                <div class="cardCabecalho">
                    <img src="https://images.pexels.com/photos/31631885/pexels-photo-31631885.jpeg" alt="FotoAtualizacao" class="fotoVendedor">
                    <div class="divTextos">
                        <p class="nomeVendedor">José</p>
                        <p class="data">10/01/2025</p>    
                        <p id="nota5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                    </div>
                </div>
                <p class="texto">Amei!</p>
            </div>
             <div class="cardContato">
                <div class="cardCabecalho">
                    <img src="https://images.pexels.com/photos/4185398/pexels-photo-4185398.jpeg" alt="FotoAtualizacao" class="fotoVendedor">
                    <div class="divTextos">
                        <p class="nomeVendedor">Vitão</p>
                        <p class="data">05/05/2025</p>    
                        <p id="nota5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                    </div>
                </div>
                <p class="texto">Como o meu dinheiro vai durar? Quero comprar um monte</p>
            </div>
        </div>
        <a href="avaliar.html" target="_self" id="botaoAvaliar">Avaliar</a>
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>