@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

    font-family: "Roboto", sans-serif;

}

body{
    width: 412px;
}

footer{
    width: 100%;
    height: 10%;
    background-color: green;

    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;

    top: 50%;
}

footer a{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 70%;
    border-radius: 100px;
}

#menuSelecionado{
    padding-bottom: 10%;
}