<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/compartilhar_style.css">
    <title>Document</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <h1>Compartilhar</h1>
        <a href="../../index.html" target="_self"><i class="fa-solid fa-x botaoVoltar"></i></a>
    </header>
    <main>
        <div id="cabecalhoCompartilhar">
            <img src="https://images.pexels.com/photos/14122742/pexels-photo-14122742.jpeg" alt="FotoAtualizacao" class="fotoAtualizacao">
            <p id="tituloProduto">Brigadeiros</p>
        </div>
        <button type="button" id="botaoURL">Copiar URL</button>
        <div id="apps">
            <img src="https://static.vecteezy.com/system/resources/previews/018/930/748/original/whatsapp-logo-whatsapp-icon-whatsapp-transparent-free-png.png" alt="WhatsApp">
            <img src="https://static.vecteezy.com/system/resources/previews/018/930/413/original/instagram-logo-instagram-icon-transparent-free-png.png" alt="Instagram">
            <img src="https://static.vecteezy.com/system/resources/previews/018/930/479/non_2x/telegram-logo-telegram-icon-transparent-free-png.png" alt="Telegram">
        </div>
    </main>
    <footer>
        <a href="http://" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="http://" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="http://" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="http://" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="http://" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>