<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/index_style..css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../../public/img/sombraLogo.png" alt="Logo" id="logo">
        <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Botão de Clima"></a>
        <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Roleta"></a>
        <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Ranking"></a>
    </header>
    <main>
        <div id="subCabecalho">
            <h2>Segunda, 07/07/2025</h2>
        </div>
        <div id="containerPosts">
            <div class="Post">
                <div class="postCabecalho">
                    <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Vendedor">Vendedor</a>
                    <button type="button"><img src="../../public/img/sombraLogo.png" alt="Opções do Post"></button>
                </div>
            </div>
            <img src="../../public/img/foto.jpg" alt="Imagem do Poste">
            <div class="postRodape">
                <button type="button" class="botaoFavoritar"><img src="../../public/img/sombraLogo.png" alt="Favoritar"></button>
                <p class="preco">R$ 99,99</p>
                <img src="../../public/img/sombraLogo.png" alt="Forma de Pagamento" class="formaPagamento">
            </div>
        </div>
    </main>
    <footer>
        <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Forma de Pagamento" class="Botão Conversas"></a>
        <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Forma de Pagamento" class="Botão Pesquisar"></a>
        <a href="http://" target="_self" rel="noopener noreferrer" id="menuSelecionado"><img src="../../public/img/sombraLogo.png" alt="Forma de Pagamento" class="Botão Data" ></a>
        <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Forma de Pagamento" class="Botão Favoritos"></a>
        <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/sombraLogo.png" alt="Forma de Pagamento" class="Menu"></a>
    </footer>
</body>
</html>